[submodule "external/librustzcash"]
	path = external/librustzcash
	url = https://github.com/nerdcash/librustzcash.git
[submodule "external/sapling-crypto"]
	path = external/sapling-crypto
	url = https://github.com/nerdcash/sapling-crypto.git
